
#canvasWrapper, body {
    background-color: white;
    padding: 0;
    margin: 0;
}
#canvasWrapper {
    display:flex;
    justify-content: center;
}
#canvasBorder {
    border: 2px solid #DAB420;
    margin-top: 2%;
}
#canvas {
    padding: 0;
    margin: 0;
}
